@model IEnumerable<Charm.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

 <!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Blog
                @*<small>Secondary Text</small>*@
            </h1>
            <!-- First Blog Post -->
            @foreach (var item in Model)
            {  
            <h2>
                <a href="#">@item.Title</a>
            </h2>
            <p class="lead">
                by Jessica Ansong
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on @item.Created</p>
            <hr>
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
            <hr>
            <div class="abc">
                <p>@Html.Raw(item.Blog)</p>
            </div> 
                <!--jquery ellipsis class-->
            }
            @*<a class="btn btn-group-sm" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>*@
            @*<hr>*@
           
        <!-- Blog Sidebar Widgets Column -->
        @*<div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>*@
    </div>
    <!-- /.row -->
    <hr>
    </div>
</div>
<!-- /.container -->

@section scripts{
<script src="/JQueryDotDotDot/jquery.dotdotdot.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.backstretch').remove();
        //console.log("In document ready");
        $(".abc").dotdotdot({
            ellipsis: '...',
            wrap: 'word',
            watch: true,
            height: 50,
            maxHeight: 50
        });
    });
</script>
}